In [2]:
import pandas as pd

**Task 0:** 
* Download the data file from https://drive.google.com/file/d/1rcRUS4Cz2ZsnOkBYVm-ipjrHPTkiPPgY/view?usp=sharing 
* Open the data file in Pandas

In [12]:
df = pd.read_csv('Multiple Cause of Death, 1999-2014.csv')
df.head()

,State,Year,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval
0,Alabama,1999,39,4430141,0.9,0.6,1.2
1,Alabama,2000,46,4447100,1,0.8,1.4
2,Alabama,2001,67,4467634,1.5,1.2,1.9
3,Alabama,2002,75,4480089,1.7,1.3,2.1
4,Alabama,2003,54,4503491,1.2,0.9,1.6

**Task 1:**   
* Rename dataframe columns in such a way so that all spaces are replaced with underscores.  You MUST use Python to rename the columns - do NOT simply open the data file in Excel and rename columns manually.
* Save the resulting dataframe in a file called "task1.csv"

In [13]:
# Task 1 solution
for col in df.columns:
    df.rename({col : col.replace(' ', '_')}, axis=1, inplace=True)

df.to_csv('task1.csv')

**Task 2:   Clean the data**
* Check each columns datatypes
* Open the spreadsheet in Excel and examine why columns such as "Deaths" are not being recognized as numeric
* Remove all rows from the dataset where "Deaths" is marked as "Suppressed" or "CrudeRate" is marked as "Unreliable". Hint: Select all rows where Deaths != "Suppressed" and "CrudeRate" != "Unreliable"
* Convert "Deaths" and "CrudeRate" to numeric values
* Save the resulting dataframe in a file called "task2.csv"

In [25]:
# Task 2 solution
df = df.query('Deaths != "Suppressed" and Crude_Rate != "Unreliable"')
df['Deaths'] = df['Deaths'].astype('int64')
df['Crude_Rate'] = df['Crude_Rate'].astype('float')
df.to_csv('task2.csv')

**Task 3:**  
* Write a query to find all states and years where the number of deaths exceeded 2000 deaths per year. 
* In your results, only show State and Year columns
* Save the resulting dataframe in a file called "task3.csv"

In [26]:
df.head()

,State,Year,Deaths,Population,Crude_Rate,Crude_Rate_Lower_95%_Confidence_Interval,Crude_Rate_Upper_95%_Confidence_Interval
0,Alabama,1999,39,4430141,0.9,0.6,1.2
1,Alabama,2000,46,4447100,1.0,0.8,1.4
2,Alabama,2001,67,4467634,1.5,1.2,1.9
3,Alabama,2002,75,4480089,1.7,1.3,2.1
4,Alabama,2003,54,4503491,1.2,0.9,1.6

In [29]:
# Task 3 solution
df.query("Deaths > 2000")[['State','Year']].to_csv('task3.csv')

**Task 4:** 
* Write a query to summarize (group) the total number of deaths per each state across all years. 
* In your results, show only the State and Total columns, where the Total column contains the sum of all deaths for a given state. 
    * Hint: you will need to use Pandas' groupby() function and aggregate using sum.
* Save the resulting dataframe in a file called "task4.csv"

In [37]:
# Task 4 solution
temp = df[['State','Deaths']].groupby('State').agg({'Deaths':'sum'})
temp.reset_index(inplace=True)
temp.columns = ['State','Total']
temp.to_csv('task4.csv')

**Task 5:**  
* Find all rows where the name of the state begins with the letter 'A'
* Save your resulting dataframe in a file called "task5.csv"

In [39]:
temp = df[df['State'].str.startswith('A')]
temp.to_csv('task5.csv')

**Task 6:**  
* Write a query to find the top five states with the largest population in any given year. 
* In your results, only show State and Population. 
    * Hint: use the groupby() function to group by State, and aggregate by population using "max".
* Save your resulting dataframe in a file called "task6.csv"

In [55]:
temp = df[['State', 'Population']].groupby(['State']).agg({'Population': 'max'})
temp.reset_index(inplace=True)
temp.sort_values('Population', ascending=False).head().to_csv('task6.csv')
#temp.to_csv('task6.csv')

**Task 7:**  
* Using results from Task 6, write a query to find five years with the highest numbers of deaths for the state with the highest population. 
* In your results, show only "Year" and "Deaths"
* Save your resulting dataframe in a file called "task7.csv"

In [56]:
temp = df.query('State in ["California","Texas","Florida","New York","Illinois"]').groupby('Year').agg({"Deaths":"max"})
temp.reset_index().sort_values('Deaths', ascending=False).head(5).to_csv('task7.csv')